@model QualityCaps.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section>
@using (Html.BeginForm("Confirm","CheckOut",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Order</h4>
    <hr/>
    <h5>Shipping Infomation</h5>
    @Html.HiddenFor(model => model.Customer.CustomerID)

    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customer.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.PhoneHome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.PhoneHome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.PhoneWork)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.PhoneWork)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.PhoneMobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.PhoneMobile)
            </dd>
        </dl>
    </div>


    <h5>Shopping Cart</h5>
    <div class="col-md-12">

        @Html.Partial("~/Areas/Store/Views/ShoppingCart/Index.cshtml")
        @Html.HiddenFor(model => model.OrderProducts)
    </div>
    <div class="col-md-12">
        <hr/>
    </div>
    <div>
        <input type="submit" value="CONFIRM TO CHECK OUT" class="btn btn-info" />
    </div>
}
</section>
