@model QualityCaps.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.FirstMidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.FirstMidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrandTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrandTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
