@using System.Globalization
@using QualityCaps.Models;

@{
    List<ShoppingCartItemViewModel> session =ViewBag.Session;
}

@if (session != null&&session.Count>0)
{
    decimal orderSubTotal = session.Sum(p => p.TotalPrice);
    decimal orderGst = session.Sum(
            p =>
                p.TotalPrice *
                Convert.ToDecimal(p.GstPercentage * 0.01));
    decimal orderTotal = orderGst + orderSubTotal;

    <div class="table-responsive">
        <table class="table table-shopping" id="table_shopingcart">
            <thead id="cartTableRowTitle">
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Product</th>
                    <th class="text-center">Color</th>
                    <th class="text-right">Unit Price</th>
                    <th class="text-center">Qty</th>
                    <th class="text-center">Total</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody id="cartTableRows">
                @foreach (var item in session)
                {
                    <tr id="@item.ProductID@item.ColorID">
                        <td>
                            <div class="img-container">
                                <img src="@Url.Content("~/Images/")@item.ImageUrl" alt="...">
                            </div>
                        </td>
                        <td>
                            <a class="product-detail-link" data-toggle="modal"  data-url="@Url.Action("Details","Store",new {productID = item.ProductID, colorID = item.ColorID,area="Store"})">@item.ProductName</a>
                            <br />Item #: @item.ProductID
                            <br />@item.Category
                        </td>
                        <td>
                            @item.ColorName
                        </td>
                        <td>
                            @item.UnitPrice.ToString("C2", CultureInfo.CurrentCulture)
                        </td>
                        <td style="min-width:100px">
                            <button class="btn btn-round btn-info btn-xs btn_Inc_Dec_Qty" rel="tooltip" data-placement="top" title="Decrease Quantity" data-id="Dec" data-content='{"ProductID":"@item.ProductID","ColorID":"@item.ColorID"}'> <i class="material-icons">remove</i> </button>
                            <label id="lbl_Qty_@item.ProductID@item.ColorID"> @item.Quantity</label>
                            <button class="btn btn-round btn-info btn-xs btn_Inc_Dec_Qty" rel="tooltip" data-placement="top" title="Increase Quantity" data-id="Inc" data-content='{"ProductID":"@item.ProductID","ColorID":"@item.ColorID"}'> <i class="material-icons">add</i> </button>
                        </td>
                        <td id="td_item_total_@item.ProductID@item.ColorID">
                            @item.TotalPrice.ToString("C2", CultureInfo.CurrentCulture)
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Sub Total:
                </dt>

                <dd id="cart_subtotal">
                    @orderSubTotal.ToString("C2", CultureInfo.CurrentCulture)
                </dd>

                <dt>
                    Gst:
                </dt>

                <dd id="cart_gst">
                    @orderGst.ToString("C2", CultureInfo.CurrentCulture)
                </dd>

                <dt>
                    Total:
                </dt>

                <dd id="cart_total">
                    @orderTotal.ToString("C2", CultureInfo.CurrentCulture)
                </dd>




            </dl>

        </div>
    </div>
}
else
{
    <div class="text-center">
         <p>Shopping cart is empty</p>
    </div>
   
}


<!--                 end tables -->
     

<script type="text/javascript">
    $(function () {

        // CLEAR CART button click event
        $("#btn_ClearCart").click(function () {

            // Use ajax to Handel session data
            var url = "@Url.Action("ClearCart","ShoppingCart",new {area="Store"})";
            funClear_Cart_Button_Click(url,this);

        });


        // Inc/Dec button click event
        $(".btn_Inc_Dec_Qty", this)
            .click(function () {
                var url = "@Url.Action("ModifyItemQuantity","ShoppingCart",new {area="Store"})";
                funInc_Dec_Button_Click(url,this);
            });
    });
</script>

    


      







  