@using System.Web.UI.WebControls
@model  QualityCaps.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
}
@Styles.Render("~/Content/css")


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

                <div class="card card-signup">
                    <h2 class="card-title text-center">Register</h2>

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form", role = "form", id = "registerForm" }))
                    {
                        <hr />
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="content">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">email</i>
                                    </span>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email..." })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password..." })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">lock_outline</i>
                                    </span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password..." })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    @Html.EditorFor(model => model.FirstMidName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name..." } })
                                    @Html.ValidationMessageFor(model => model.FirstMidName, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">face</i>
                                    </span>
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name..." } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">phone</i>
                                    </span>
                                    @Html.EditorFor(model => model.PhoneHome, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone(Home)..." } })
                                    @Html.ValidationMessageFor(model => model.PhoneHome, "", new { @class = "text-danger" })
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">phone</i>
                                    </span>
                                    @Html.EditorFor(model => model.PhoneWork, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone(Work)..." } })
                                    @Html.ValidationMessageFor(model => model.PhoneWork, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">phone_android</i>
                                    </span>
                                    @Html.EditorFor(model => model.PhoneMobile, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone(Mobile)..." } })
                                    @Html.ValidationMessageFor(model => model.PhoneMobile, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="material-icons">home</i>
                                    </span>
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Address..." } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="footer text-center">
                                    <a href="javascript:document.getElementById('registerForm').submit()" class="btn btn-primary btn-round">Register</a>
                                </div>

                            </div> }
                </div>
            </div>

        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/materialdesign")
    }

</section>