@using QualityCaps.Models;




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quality Caps</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    @Styles.Render("~/bundles/bundleCss")
    @Styles.Render("~/bundles/bundleCustomizedCSS")
    @Scripts.Render("~/bundles/bundleModernizr")

    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "aa43eacc-9f98-4df4-acec-0c78d129d8dc"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="@Url.Action("Index", "Home", new {area = "Home"})">
                    <img class="img-responsive " style="height: 100%" src="@Url.Content("~/Images/logo.png")" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Store", "Index", "Store", new { area = "Store" }, null)</li>
                </ul>

                @using (Html.BeginForm("Index", "Store", FormMethod.Get, new { @class = "navbar-form navbar-left", area = "Store" }))
                {
                <div class="form-group">

                    @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Search" })
                    <button type="submit" class="btn btn-simple" value="Filter"><i class="material-icons">search</i></button>
                </div>
                }
               

                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.Partial("_ShoppingCartPartial")</li>

                    <li>@Html.Partial("_LoginPartial")</li>



                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>


    <!-- Page Content -->
    <div >

        @RenderBody()
        @if (!User.IsInRole("Admin"))
        {
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="copyright">Copyright &copy; QualityCaps 2016</span>
                        </div>
                        <div class="col-md-3">
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <ul class="list-inline quicklinks">
                                <li>
                                    <a data-toggle="modal" data-target="#contactModal" style="cursor:pointer">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        }


    </div>




    @*Notification Start*@

    <div id="notification">



    </div>

    @*Notification End*@





    <!-- Shopping cart modal -->

    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Cart</h4>
                </div>
                <div class="modal-body" id="cartTableContainer">
                    @Html.Partial("~/Areas/Store/Views/ShoppingCart/Index.cshtml")
                </div>
                <div class="modal-footer">
                    <a id="btn_ClearCart" class="btn btn-danger btn-simple">Clear Cart</a>

                    <a href="@Url.Action("Index", "CheckOut", new { area = "Store" })" class="btn btn-info btn-simple">Check Out</a>

                </div>
            </div>
        </div>
    </div>


    <!-- Contact cart modal -->

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Contact</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("~/Areas/Home/Views/Home/Contact.cshtml")
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <!-- product Detail modal -->

    <div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="productDetailContainer">
                </div>

            </div>
        </div>
    </div>



    @* -- Loader Start -- *@

    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>

    @* -- Loader End -- *@


    <script>


        $(function () {

            // Loader
            $(document)
                .ajaxStart(function () {
                    $(".spinner").delay(5000).show(0);
                    
                }).ajaxStop(function () {
                    $(".spinner").hide(0);
                   
                });

            // Product Detail click event handler
            $("body")
                .on("click", ".product-detail-link", function (event) {
                    event.preventDefault();
                    funProduct_Detail_Link_Click(this);
                });



        });

    </script>

    @Scripts.Render("~/bundles/bundleJquery")
    @Scripts.Render("~/bundles/bundleBootstrap")
    @Scripts.Render("~/bundles/bundleCustomizedJS")
    @RenderSection("scripts", required: false)

</body>
</html>
