@model QualityCaps.Models.ProductColor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductColor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Category.CategoryName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.ColorName)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityInStock)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Product.Supplier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Supplier.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Product.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.UnitPrice)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Product.GstPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.GstPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            <img class="img img-responsive" src="~/Images/@Html.DisplayFor(model => model.ImageUrl)" style="width: 120px;max-height: 160px;" />

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  productID= Model.ProductID,colorID=Model.ColorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>








