@model IEnumerable<QualityCaps.Models.ProductColor>

@{
    ViewBag.Title = "Index";
}

<h2>Manage Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color.ColorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color.ColorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                <img class="img img-responsive" src="~/Images/@Html.DisplayFor(modelItem => item.ImageUrl)" style="width: 120px;max-height: 160px;"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { productID = item.ProductID, colorID = item.ColorID }) |
                @Html.ActionLink("Details", "Details", new { productID = item.ProductID, colorID = item.ColorID }) |
                @Html.ActionLink("Delete", "Delete", new { productID = item.ProductID, colorID = item.ColorID })
            </td>
        </tr>
    }
</table>



