
@{
    ViewBag.Title = "Home Page";
}


    <div class="page-header header-filter" data-parallax="active" style="background-image: url('@Url.Content("~/Images/women.jpg")'); transform: translate3d(0px, 0px, 0px); margin-top:70px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">Quality Caps</h1>
                    <h4></h4>
                    <br>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">

            <div class="row collections" style="margin-top:30px">
                <div class="col-md-4">
                    <a href="@Url.Action("Index","Store",new { chkBoxesCategoryIDs="Category002",area="Store"})">
                    <div class="card card-background" style="background-image: url('@Url.Content("~/Images/women.jpg") ')">
                        
                        <div class="content">
                            <label class="label label-primary">WOMEN CAP</label>
                           
                        </div>
                    </div>
                        </a>
                </div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index","Store",new { chkBoxesCategoryIDs="Category001",area="Store"})">
                        <div class="card card-background" style="background-image: url('@Url.Content("~/Images/men.jpg")')">

                            <div class="content">
                                <label class="label label-primary">MEN CAP</label>

                            </div>
                        </div></a>
</div>
                <div class="col-md-4">
                    <a href="@Url.Action("Index","Store",new { chkBoxesCategoryIDs="Category003",area="Store"})">
                        <div class="card card-background" style="background-image: url('@Url.Content("~/Images/kid.jpg")')">

                            <div class="content">
                                <label class="label label-primary">KIDS CAP</label>

                            </div>
                        </div></a>
</div>
             
            </div>


           
        </div>
    </div>

   

