@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="nav nav-sidebar"></ul>
            <ul class="nav nav-sidebar">

                <li class="active">@Html.ActionLink("Manage Products", "Index", "ProductColors", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Manage Orders", "Index", "Orders", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Manage Customer Accounts", "Index", "Customers", new { area = "Admin" }, null)</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Product", "Index", "Products", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Color", "Index", "Colors", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Category", "Index", "Categories", new { area = "Admin" }, new { id = "category" })</li>
                <li>@Html.ActionLink("Supplier", "Index", "Suppliers", new { area = "Admin" }, null)</li>
                <li>@Html.ActionLink("Order Status", "Index", "OrderStatus", new { area = "Admin" }, null)</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()


                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->



    <script>
        $(function () {
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        })


    </script>


</section>