@using QualityCaps.Models
@model QualityCaps.Models.ProductColor





                <div class="row ">
                    <div class="col-md-6 col-sm-6">
                        <div class="tab-content">
                            <div class="tab-pane active" id="product-page1">
                                <img id="productPic" class="img-responsive" src="~/Images/@Html.DisplayFor(modelItem => modelItem.ImageUrl)" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <h2 class="title"> @Html.DisplayFor(modelItem => modelItem.Product.ProductName) </h2>
                        <h3 class="main-price">@Html.DisplayFor(modelItem => modelItem.Product.UnitPrice)</h3>
                        <div id="acordeon">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-border panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h4 class="panel-title">
                                                Description
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>@Html.DisplayFor(modelItem => modelItem.Product.Description)</p>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="panel panel-border panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseOne">
                                                <h4 class="panel-title">
                                                    Designer Information
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                An infusion of West Coast cool and New York attitude, Rebecca Minkoff is synonymous with It girl style. Minkoff burst on the fashion scene with her best-selling 'Morning After Bag' and later expanded her offering with the Rebecca Minkoff Collection - a range of luxe city staples with a "downtown romantic" theme.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-border panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                                <h4 class="panel-title">
                                                    Details and Care
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>Storm and midnight-blue stretch cotton-blend</li>
                                                    <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single vent, internal pocket</li>
                                                    <li>Two button fastening</li>
                                                    <li>84% cotton, 14% nylon, 2% elastane</li>
                                                    <li>Dry clean</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>*@

                            </div>
                        </div><!--  end acordeon -->

                        <div class="row pick-size">
                            <div class="col-md-6 col-sm-6">
                                <h4 class="panel-title">
                                    Select color
                              
                                </h4>

                                @foreach (Color color in ViewBag.colorID)
                                {
                                   
                                    <style>
                                         #@(String.Format("{0}{1}", "colorRadio", color.ColorID)) {
                                             color: @color.RGBCode
                                         }
                                        #@(String.Format("{0}{1}", "colorRadio", color.ColorID)) .circle {
                                            border: 1px solid @color.RGBCode;
                                        }
                                        #@(String.Format("{0}{1}", "colorRadio", color.ColorID)) input[type=radio].check {
                                            background-color: @color.RGBCode;
                                        }
                                        #@(String.Format("{0}{1}", "colorRadio", color.ColorID)) input[type=radio]:checked ~ .check {
                                            background-color: @color.RGBCode;
                                        }
                                        #@(String.Format("{0}{1}", "colorRadio", color.ColorID)).circle {
                                            border-color: @color.RGBCode;
                                        }

                                </style>
                                    <div class="radio">
                                        <label id="@(String.Format("{0}{1}", "colorRadio", color.ColorID))">
                                            
                                            @if (ViewBag.currentColorID.Equals(color.ColorID))
                                            {
                                                <input type="radio" name="colorRadios" value="@color.ColorID" checked>
                                            }
                                            else
                                            {
                                                <input type="radio" name="colorRadios" value="@color.ColorID">
                                            }
                                            @color.ColorName
                                        </label>
                                    </div>

                                }
                            </div>
                            @*<div class="col-md-6 col-sm-6">
                                    <label>Select size</label>
                                    <select class="select form-control">
                                        <option value="1">Small </option>
                                        <option value="2">Medium</option>
                                        <option value="3">Large</option>
                                    </select>
                                </div>*@
                        </div>
                        <div class="row ">
                            <button class="btn btn-rose btn-round" id="btn_AddToCart">Add to Cart &nbsp;<i class="material-icons">shopping_cart</i></button>
                        </div>
                    </div>
                </div>



<script type="text/javascript">
    $(function () {
        

        // COLOR RADIO buttons click event handler
        $("input[type=radio][name=colorRadios]")
            .change(function() {
                var actionUrl =" @Url.Action("GetProductPic","Store",new {area="Store"})";
                var imgDir = "@Url.Content("~/Images/")";

                // Get radio value(Color ID)
                var productID="@Model.ProductID";
                var colorID = $("input[type=radio][name=colorRadios]:checked").val();
                console.log(productID);
                funProduct_Detail_Color_Radio_Button_Click(productID, colorID, actionUrl, imgDir);
            });



        // ADD TO CART button click event handler
        $("#btn_AddToCart", this)
            .on("click",function () {
                console.log("clicked");
                // Action URL
                var url = "@Url.Action("AddToCart", "ShoppingCart", new {area = "Store"})";
                var productID=@Html.Raw(Json.Encode(Model.ProductID));
                var colorID = $("input[name='colorRadios']:checked").val();
                var productName=@Html.Raw(Json.Encode(Model.Product.ProductName));
                var productColor=@Html.Raw(Json.Encode(Model.Color.ColorName));
                if (productID != '' && colorID != '') {
                    // Perform the ajax post
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: { productID: productID, colorID: colorID },
                    })
                          .done(function (data) {
                              // Update Cart Icon quantity
                              $("#cartTotalQuantity").text(data);

                              // Notification
                              funShowSuccessNotification(productName+" "+productColor+" added to shopping cart");
                          })
                          .fail(function () {
                              funShowFailureNotification("Unable to add item to cart due to server connection failure");
                          });
                };

            });
    });

    
</script>

@*@Scripts.Render("~/bundles/bundleCustomizedJS")*@
<script type="text/javascript" src="~/Scripts/material-kit.js"></script>


@Html.HiddenFor(item => item.ProductID)
@Html.HiddenFor(item => item.Product.ProductName)





