@using QualityCaps.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<QualityCaps.Models.ProductColor>

@{
    ViewBag.Title = "Index";

    string[] chkBoxesCategoryIDs = (string[])ViewBag.chkBoxesCategoryIDs;
    string[] chkBoxesColorIDs = (string[])ViewBag.chkBoxesColorIDs;
    string[] chkBoxesSupplierIDs = (string[])ViewBag.chkBoxesSupplierIDs;
    string search= ViewBag.search ;

    }

<section>
    <div>
        <div class="container-fluid">
            <div class="row">
                @*Filter*@
            <div class="col-md-3" id="filterSideBar">
                
                <div >
                    @using (Html.BeginForm("Index", "Store", FormMethod.Get))
                    {


                        <div class="card card-refine card-plain">
                            <div class="content">
                                <div class="panel-group" >
                                 

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">
                                                <a data-toggle="collapse" href="#panel_category">
                                                    Category
                                                    <i class="fa fa-caret-up pull-right"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="panel_category" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                @foreach (Category c in ViewBag.categoryList)
                                                {

                                                        @*Single check box start*@
                                                    <div class="checkbox">
                                                        <label>
                                                            @if (chkBoxesCategoryIDs.Contains(c.CategoryID))
                                                            {
                                                                <input type="checkbox" value="@c.CategoryID" name="chkBoxesCategoryIDs" checked="checked">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" value="@c.CategoryID" name="chkBoxesCategoryIDs">
                                                            }

                                                            @c.CategoryName
                                                        </label>
                                                    </div>
                                                        @*Single check box end*@

                                                }
                                            </div>
                                        </div>
                                    </div>


                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">
                                                <a data-toggle="collapse" href="#panel_supplier">
                                                    Brand
                                                    <i class="fa fa-caret-up pull-right"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="panel_supplier" class="panel-collapse collapse in">
                                            <div class="panel-body panel-scroll">

                                                @foreach (Supplier s in ViewBag.supplierList)
                                                {

                                                        @*Single check box start*@
                                                    <div class="checkbox">
                                                        <label>
                                                            @if (chkBoxesSupplierIDs.Contains(s.SupplierID))
                                                            {
                                                                <input type="checkbox" value="@s.SupplierID" name="chkBoxesSupplierIDs" checked="checked">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" value="@s.SupplierID" name="chkBoxesSupplierIDs">
                                                            }
                                                            @s.Name
                                                        </label>
                                                    </div>
                                                        @*Single check box end*@

                                                }

                                            </div>
                                        </div>
                                    </div><!-- end panel -->

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">
                                                <a data-toggle="collapse" href="#panel_color">
                                                    Color
                                                    <i class="fa fa-caret-up pull-right"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="panel_color" class="panel-collapse collapse in">
                                            <div class="panel-body">

                                                @foreach (Color c in ViewBag.colorList)
                                                {

                                                        @*Single check box start*@
                                                    <div class="checkbox">
                                                        <label>
                                                            @if (chkBoxesColorIDs.Contains(c.ColorID))
                                                            {
                                                                <input type="checkbox" value="@c.ColorID" name="chkBoxesColorIDs" checked="checked">

                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" value="@c.ColorID" name="chkBoxesColorIDs">

                                                            }
                                                            @c.ColorName
                                                        </label>
                                                    </div>
                                                        @*Single check box end*@

                                                }
                                            </div>
                                        </div>
                                    </div> <!-- end panel -->

                                </div>
                            </div>
                        </div>
                        <!-- end card -->

                        <div >
                            <input type="submit" class="btn btn-info" value="Filter"/>
                        </div>
                    }
                </div>
            </div>


                @*PRODUCT DISPLAY START*@
                <div class="col-md-7" id="portfolio">
                    <div class="row  text-center">
                     
                        @Html.PagedListPager(Model, page => Url.Action("Index") + "?" +
                   string.Join("&search=", search) +
                   string.Join("&", chkBoxesCategoryIDs.Select(x => "chkBoxesCategoryIDs=" + x)) +
                   string.Join("&", chkBoxesColorIDs.Select(x => "chkBoxesColorIDs=" + x)) +
                   string.Join("&", chkBoxesSupplierIDs.Select(x => "chkBoxesSupplierIDs=" + x)) +
                   "&page=" + page)
                    </div>
                    <div class="row">



                        @foreach (var item in Model)
                                {



                            <div class="col-xs-4 col-sm-3 col-md-3 portfolio-item">
                                <a class="portfolio-link product-detail-link" data-toggle="modal" data-url="@Url.Action("Details", new {productID = item.ProductID, colorID = item.ColorID})">
                                    <img class="img img-responsive" src="~/Images/@Html.DisplayFor(modelItem => item.ImageUrl)" />
                                </a>
                                <div class="text-center product-title"><a class="portfolio-link product-detail-link" data-toggle="modal" data-url="@Url.Action("Details", new {productID = item.ProductID, colorID = item.ColorID})">
    @Html.DisplayFor(modelItem => item.Product.ProductName)
</a>
                                </div>
                                <div class="text-center">
                                    @Html.DisplayFor(modelItem => item.Product.UnitPrice)

                                    <button data-content='{"ProductID":"@item.ProductID","ColorID":"@item.ColorID","ProductName":"@item.Product.ProductName","ProductColor":"@item.Color.ColorName"}' type="button" rel="tooltip" title="Add to cart" class="btn btn-just-icon btn-simple btn-rose pull-center btn_AddToCart">
                                        <i class="material-icons">add_shopping_cart</i>
                                    </button>
                                </div>
                            </div>

                        }

                    </div>

                </div>
            </div>

            @*Product display end*@

        </div>
    </div>



    <script>
        $(function () {

            // ADD TO CART button click event handler
            $(".btn_AddToCart", this)
                .click(function () {
                    // Action URL
                    var url = "@Url.Action("AddToCart", "ShoppingCart", new {area = "Store"})";
                    funAdd_To_Cart_Button_Click(url, this);
                });
        });
    </script>

</section>
